[Base16 {{scheme-name}}]
;Template: Kuro, Scheme: {{scheme-author}}
GeneralForeColor=#{{base05-hex}}
GeneralBackColor=#{{base00-hex}}
GeneralStyle=0
SelectionForeColor=
SelectionBackColor=#{{base04-hex}}
SelectionStyle=0
CurrentLineForeColor=
CurrentLineBackColor=#{{base02-hex}}
CurrentLineStyle=0
HyperlinkForeColor=#{{base09-hex}}
HyperlinkBackColor=
HyperlinkStyle=4
StringForeColor=#{{base0B-hex}}
StringBackColor=
StringStyle=0
CommentForeColor=#{{base03-hex}}
CommentBackColor=
CommentStyle=0
ScriptForeColor=
ScriptBackColor=
ScriptStyle=0
BracketForeColor=
BracketBackColor=
BracketStyle=1
TagForeColor=#{{base08-hex}}
TagBackColor=
TagStyle=0
Keyword1ForeColor=#{{base0E-hex}}
Keyword1BackColor=
Keyword1Style=0
Keyword2ForeColor=#{{base08-hex}}
Keyword2BackColor=
Keyword2Style=0
Keyword3ForeColor=#{{base09-hex}}
Keyword3BackColor=
Keyword3Style=0
Keyword4ForeColor=#{{base0C-hex}}
Keyword4BackColor=
Keyword4Style=0
Keyword5ForeColor=#{{base0D-hex}}
Keyword5BackColor=
Keyword5Style=0
Keyword6ForeColor=#{{base0F-hex}}
Keyword6BackColor=
Keyword6Style=0
Keyword7ForeColor=#{{base0A-hex}}
Keyword7BackColor=#{{base01-hex}}
Keyword7Style=0
Keyword8ForeColor=#{{base0B-hex}}
Keyword8BackColor=#{{base01-hex}}
Keyword8Style=0
CRLFForeColor=#{{base03-hex}}
CRLFBackColor=
CRLFStyle=0
WrapForeColor=#{{base03-hex}}
WrapBackColor=
WrapStyle=0
TabForeColor=#{{base03-hex}}
TabBackColor=
TabStyle=0
EOFForeColor=#{{base03-hex}}
EOFBackColor=
EOFStyle=0
CaretForeColor=#{{base02-hex}}
CaretBackColor=
CaretStyle=0
LineNumbersForeColor=
LineNumbersBackColor=
LineNumbersStyle=0
RulerForeColor=
RulerBackColor=
RulerStyle=0
VerticalLineForeColor=#{{base03-hex}}
VerticalLineBackColor=
VerticalLineStyle=0
SBAlphabeticForeColor=
SBAlphabeticBackColor=
SBAlphabeticStyle=0
SBNumberForeColor=
SBNumberBackColor=
SBNumberStyle=0
SBSymbolForeColor=
SBSymbolBackColor=
SBSymbolStyle=0
SBKatakanaForeColor=
SBKatakanaBackColor=
SBKatakanaStyle=0
SBSpaceForeColor=#{{base03-hex}}
SBSpaceBackColor=
SBSpaceStyle=0
DBAlphabetForeColor=
DBAlphabetBackColor=
DBAlphabetStyle=0
DBNumberForeColor=
DBNumberBackColor=
DBNumberStyle=0
DBSymbolForeColor=
DBSymbolBackColor=
DBSymbolStyle=0
DBHiraganaForeColor=
DBHiraganaBackColor=
DBHiraganaStyle=0
DBKatakanaForeColor=
DBKatakanaBackColor=
DBKatakanaStyle=0
DBKanjiForeColor=
DBKanjiBackColor=
DBKanjiStyle=0
DBSpaceForeColor=#{{base03-hex}}
DBSpaceBackColor=
DBSpaceStyle=0
BookmarkForeColor=
BookmarkBackColor=#{{base0D-hex}}
BookmarkStyle=0
SpellForeColor=
SpellBackColor=
SpellStyle=8
SearchStringForeColor=#{{base00-hex}}
SearchStringBackColor=#{{base0A-hex}}
SearchStringStyle=0
AutoMarkerForeColor=
AutoMarkerBackColor=
AutoMarkerStyle=4
{{#scheme-dark}}
Marker1ForeColor=
Marker1BackColor=#FD504E
Marker1Style=0
Marker2ForeColor=
Marker2BackColor=#FDB241
Marker2Style=0
Marker3ForeColor=
Marker3BackColor=#FFDA3A
Marker3Style=0
Marker4ForeColor=
Marker4BackColor=#67F032
Marker4Style=0
Marker5ForeColor=
Marker5BackColor=#4199FF
Marker5Style=0
Marker6ForeColor=
Marker6BackColor=#E98FFF
Marker6Style=0
Marker7ForeColor=
Marker7BackColor=#FD5A8F
Marker7Style=0
Marker8ForeColor=
Marker8BackColor=#D2AD7B
Marker8Style=0
{{/scheme-dark}}
{{^scheme-dark}}
Marker1ForeColor=
Marker1BackColor=#FEB9B8
Marker1Style=0
Marker2ForeColor=
Marker2BackColor=#FEE0B3
Marker2Style=0
Marker3ForeColor=
Marker3BackColor=#FFF0B0
Marker3Style=0
Marker4ForeColor=
Marker4BackColor=#C2F9AD
Marker4Style=0
Marker5ForeColor=
Marker5BackColor=#B3D6FF
Marker5Style=0
Marker6ForeColor=
Marker6BackColor=#F6D2FF
Marker6Style=0
Marker7ForeColor=
Marker7BackColor=#FEBDD2
Marker7Style=0
Marker8ForeColor=
Marker8BackColor=#EDDECA
Marker8Style=0
{{/scheme-dark}}
ForeignForeColor=
ForeignBackColor=
ForeignStyle=0
OtherForeColor=
OtherBackColor=
OtherStyle=0
ControlForeColor=#{{base03-hex}}
ControlBackColor=
ControlStyle=0
InvalidForeColor=#{{base00-hex}}
InvalidBackColor=#{{base08-hex}}
InvalidStyle=0
